extends layout

block content
    -  function nowTime() { return (new Date()).toLocaleString() };
    .jumbotron.text-center
        h1 Documents of My Construct 2
        a.btn.btn-primary.btn-lg(href='./pluginsIndex.html', role='button') Plugins
        a.btn.btn-primary.btn-lg(href='./behaviorsIndex.html', role='button') Behaviors
        a.btn.btn-primary.btn-lg(href='./effectsIndex.html', role='button') Effects
        
    p <em>Generated at #{nowTime()}</em>
        