.navbar.navbar-inverse
    .container
        .navbar-header
            a.navbar-brand(href="./index.html") Home
            
        ul(class="nav navbar-nav")
            li
                a(href="./pluginsIndex.html") Plugins      
            li
                a(href="./behaviorsIndex.html") Behaviors                   
            li
                a(href="./effectsIndex.html") Effects    